---
import Layout from '../layouts/Layout.astro';
import Background from '../components/Background.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Intro from '../components/Intro.astro';
import Gallery from '../components/Gallery.astro';
import TrainingInfo from '../components/TrainingInfo.astro';
import Timetable from '../components/Timetable.astro';
import Pricing from '../components/Pricing.astro';
import TrialTraining from '../components/TrialTraining.astro';
import Contact from '../components/Contact.astro';

import { getCollection, getEntry } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

type PricingEntry = CollectionEntry<'pricing'>;

const pricingItems = ((await getCollection('pricing')) as PricingEntry[]).sort(
	(a, b) => a.data.order - b.data.order
);

const hero = await getEntry('homeHero', 'index');

if (!hero) {
	throw new Error('Missing hero content: src/content/home-hero/index.md');
}

const pricingPage = await getEntry('pricingPage', 'index');

if (!pricingPage) {
	throw new Error('Missing pricing page content: src/content/pricing-page/index.md');
}

const sharedSectionBackground = await getEntry('sharedSectionBackground', 'index');

if (!sharedSectionBackground) {
	throw new Error('Missing shared section background content: src/content/shared-section-background/index.md');
}

const intro = await getEntry('homeIntro', 'index');

if (!intro) {
	throw new Error('Missing intro content: src/content/home-intro/index.md');
}

const trainingInfo = await getEntry('homeTrainingInfo', 'index');

if (!trainingInfo) {
	throw new Error('Missing training info content: src/content/home-training-info/index.md');
}

const timetable = await getEntry('homeTimetable', 'index');

if (!timetable) {
	throw new Error('Missing timetable content: src/content/home-timetable/index.md');
}

const gallery = await getEntry('homeGallery', 'index');

if (!gallery) {
	throw new Error('Missing gallery content: src/content/home-gallery/index.md');
}
---

<Layout title="Calisthenics Movement Augsburg">
	<Background />
	<Header />

	<main>
		<Hero content={hero.data} />
		<Intro content={intro.data} backgroundImage={sharedSectionBackground.data.image} />
		<Gallery content={gallery.data} />
		<TrainingInfo content={trainingInfo.data} backgroundImage={sharedSectionBackground.data.image}/>
		<Timetable	content={timetable.data} backgroundImage={sharedSectionBackground.data.image} />
		<Pricing content={pricingPage.data} items={pricingItems} />
		<TrialTraining backgroundImage={sharedSectionBackground.data.image} />
		<Contact />
	</main>
</Layout>
